.row.mt20
  .col-sm-12
    #spr_0.panel.panel-default.panelMove.toggle.panelRefresh.panelClose
      / Start .panel
      .panel-heading
        %h4.panel-title Page
        .panel-controls.panel-controls-hide{:style => "display: none;"}
          %a.panel-refresh{:href => "#"}
            %i.im-spinner6
          %a.toggle.panel-minimize{:href => "#"}
            %i.im-minus
          %a.panel-close{:href => "#"}
            %i.im-close
      .panel-body
        = link_to "add page", new_admin_page_path, class: "btn btn-xs btn-primary"
.row
  .col-sm-12
    / col-lg-6 start here
    #spr_1.panel.panel-default.plain.toggle.panelClose.panelRefresh
      .panel-heading.white-bg
      .panel-body{:style => "display: block;"}
        .table-responsive{:style => "overflow: hidden; width: 100%; height: auto;"}
          %table.table.table-striped
            %thead
              %tr
                %th.per20 Page name
                %th.per20 Options
                %th.per20
                %th.per20
            %tbody
              - @pages.each do |page|
                %tr
                  %td
                    = link_to "#{page.url_link_name}", edit_admin_page_path(page)
                  %td
                    = link_to "add subcategory", new_admin_page_subcategory_path(page), class: "btn btn-xs btn-primary"
                  %td
                    = link_to "list subcategories", admin_page_subcategories_path(page), class: "btn btn-xs btn-dark"
                  %td
                    = link_to "edit", edit_admin_page_path(page), class: "btn btn-xs btn-info"
